<div class="back">
  
  <header>
      <a href="" class="logo">
          <img src="https://i.postimg.cc/MGL657cW/logo.png" alt="" class="logo-img">
          <div>
              <span>CRYPTO</span>
              <span>CASH</span>
          </div>
      </a>
           <mat-select (valueChange)="sendCurrency($event)"  class="text"  [(ngModel)]="selectedCurrency" >
            <mat-option  selected value="INR">INR</mat-option>
            <mat-option selected value="USD">USD</mat-option>
          </mat-select> 
               
  </header> 

  <router-outlet></router-outlet>

</div>
